#main-page {
  background-color: #9caea9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  margin: 10px;
  padding: 0;
}

header{
  padding: 10px;
}

header h1{
  text-align: center;
}



#content {
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

#content h2 {
  display: block;
}

#assignments{
  margin: 0 auto;
  padding-right: 15px;
  justify-content: space-around;
}

.assignment {
  background-color: #cfddd5;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  flex-direction: column;
  border: solid 2px #38302e;
  border-radius: 3px;
  width: 100%;
  font-size: small;
}

img {
  width: 100%;
  max-width: 300px;
  border: solid 1px #38302e;
  margin: 0 auto;
}

.assignment h2{
  text-align: center;
}

.assignment section {
  flex: 1;
}

.project-content{
  background-color: #798D87;
  color: #F0F0F0;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  flex-direction: column;
  border: solid 2px #4A5D56;
  border-radius: 3px;
  width: 100%;
  font-size: small;
}

.project-content img{
  max-width: 200px;
}

.project-content h2{
  color: #1F2E2E;
}

#project{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/* Typography */


a {
  text-decoration: none;
  color: #38302e;
}

a:hover{
  text-decoration: underline;
}


header h1 {
  text-align: center;
}

header h3 {
  font-size: larger;
}

h1,
h2,
h3 {
  color: #38302e;
}

.assignment section {
  flex: 1;
}

@media (min-width: 850px) {
  #assignments, #project{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .assignment, .project-content {
    max-width: 30%;
    margin: 10px;
  }

  #project{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-content{
    max-width: 30%;
  }
}

  