html {
    min-height: 100%;
    background: #EDF6F9;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #283618;
}

h1 {
    color: #52796F;
    text-align: center;
}

a {
    text-decoration: none;
    color: #52796F;
}

a:hover {
    text-decoration: none;
    color: #C08497;
}

.contact {
    color: #52796F;
}

.projects {
    color: #283618;
}

.about {
    color: #52796F;
}

.skills {
    color: #C9ADA7;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background: #B0C4B1;
    border-radius: 15px;
    text-align: center;
}

.project img {
    width: 80%;
    max-width: 250px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #52796F;
    border-radius: 10px;
}

.project p {
    margin: 15px;
}

.about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 100px;
    background: #B0C4B1;
    border-radius: 15px;
}

.about img {
    width: 40%;
    max-width: 150px;
    height: auto;
    border-radius: 15px;
    border: 2px solid #52796F;
}

.about p {
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .projects, .about {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .project, .about img, .about p {
        width: 100%;
    }
}
