body {
    background-color: #9CAEA9;
    color: #6F6866;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Flex Containers*/
.flex-container, .flex-container-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #221D1C;
    color: #cfddd5;
    padding: 7px;
    margin: 10%;
    margin-bottom: 0px;
    margin-top: 10px;
    gap: 5px;
}

.flex-container-2{
    color: #221D1C;
    background-color: #cfddd5;
}

#section2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    color: #221D1C;
    border: #221D1C;
    border-radius: 5px;
}

#element1, #element2, #element3{
    color: #221D1C;
}

#element1{
    color: #221D1C;
    background-color: #cfddd5;
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}



#element2{
    background-color: #221D1C;
    color: #cfddd5;
    flex: 1;
    padding: 8px;
}

#element2 a{
    color: #cfddd5;
}


#element3{
    color: #221D1C;
    background-color: #cfddd5;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.element-div{
    padding: 5px;
    flex: auto;
    box-sizing: border-box;
}

.element-div img{
    border: #221D1C solid;
}

footer{
    text-align: center;
    color: #221D1C;
}

/*Navigation Stuff*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border:1px #221D1C;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    flex-grow: 1;
    text-align: center;
    padding: 0px;
    border: 1px solid #221D1C;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #655653;
    background-color: #cfddd5;
    padding: 5px;
}

nav ul li a:hover {
    display: block;
    color: #cfddd5;
    background-color: #221D1C;
}



/* Typography */
#intro{
    text-align: center;
    color: #221D1C;
}

@media (min-width: 800px){
    nav ul, .flex-container, #section2, #element1, #element3 {
        flex-direction: row;
    }

    #element1, #element3 {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-between;
        padding: 10px; 
        align-items: flex-start;
      }
    #element1 .element-div{
        max-width: 45%;
    }

    #element3 .element-div{
        max-width: 30%;
    }
}